In [1]:
#import pandas library for the data processing
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
#Print the columns in the csv
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [4]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
#get_dummies with drop_first=True to remove the repedetive column
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
#print the column names
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
#Prepare the dependent/input dataset
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
#prepare the dependent/output dataset
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train_independent=sc.fit_transform(independent)

In [10]:
#Create Model
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV

param_grid={'fit_intercept':[True,False],
           'copy_X':[True,False],
           'n_jobs':[None,5,10]}
grid=GridSearchCV(LinearRegression(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(train_independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=LinearRegression(), n_jobs=-1,
             param_grid={'copy_X': [True, False],
                         'fit_intercept': [True, False],
                         'n_jobs': [None, 5, 10]},
             verbose=3)

In [11]:
re=grid.cv_results_
print(re)

{'mean_fit_time': array([0.0218761 , 0.        , 0.01250143, 0.01562548, 0.00312529,
       0.00937443, 0.01198759, 0.00362358, 0.0062499 , 0.01250172,
       0.00937672, 0.00937557]), 'std_fit_time': array([0.00765541, 0.        , 0.00625072, 0.0098828 , 0.00625057,
       0.00765419, 0.00709807, 0.00607747, 0.00765454, 0.00625086,
       0.00765606, 0.00765512]), 'mean_score_time': array([0.        , 0.00312243, 0.        , 0.01562681, 0.01250138,
       0.00625048, 0.00557575, 0.        , 0.00625148, 0.        ,
       0.        , 0.00625052]), 'std_score_time': array([0.        , 0.00624485, 0.        , 0.02420827, 0.00625069,
       0.00765524, 0.00720242, 0.        , 0.00765647, 0.        ,
       0.        , 0.0076553 ]), 'param_copy_X': masked_array(data=[True, True, True, True, True, True, False, False,
                   False, False, False, False],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_fit_intercept': masked_array(data=[True, True, True, False, False, False, True, True,
                   True, False, False, False],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'param_n_jobs': masked_array(data=[None, 5, 10, None, 5, 10, None, 5, 10, None, 5, 10],
             mask=[False, False, False, False, False, False, False, False,
                   False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'copy_X': True, 'fit_intercept': True, 'n_jobs': None}, {'copy_X': True, 'fit_intercept': True, 'n_jobs': 5}, {'copy_X': True, 'fit_intercept': True, 'n_jobs': 10}, {'copy_X': True, 'fit_intercept': False, 'n_jobs': None}, {'copy_X': True, 'fit_intercept': False, 'n_jobs': 5}, {'copy_X': True, 'fit_intercept': False, 'n_jobs': 10}, {'copy_X': False, 'fit_intercept': True, 'n_jobs': None}, {'copy_X': False, 'fit_intercept': True, 'n_jobs': 5}, {'copy_X': False, 'fit_intercept': True, 'n_jobs': 10}, {'copy_X': False, 'fit_intercept': False, 'n_jobs': None}, {'copy_X': False, 'fit_intercept': False, 'n_jobs': 5}, {'copy_X': False, 'fit_intercept': False, 'n_jobs': 10}], 'split0_test_score': array([ 0.76097874,  0.76097874,  0.76097874, -0.32989287, -0.32989287,
       -0.32989287,  0.76097874,  0.76097874,  0.76097874, -0.32989287,
       -0.32989287, -0.32989287]), 'split1_test_score': array([ 0.70873346,  0.70873346,  0.70873346, -0.72441092, -0.72441092,
       -0.72441092,  0.70873346,  0.70873346,  0.70873346, -0.72441092,
       -0.72441092, -0.72441092]), 'split2_test_score': array([ 0.7755842 ,  0.7755842 ,  0.7755842 , -0.39030162, -0.39030162,
       -0.39030162,  0.7755842 ,  0.7755842 ,  0.7755842 , -0.39030162,
       -0.39030162, -0.39030162]), 'split3_test_score': array([ 0.73136684,  0.73136684,  0.73136684, -0.4682608 , -0.4682608 ,
       -0.4682608 ,  0.73136684,  0.73136684,  0.73136684, -0.4682608 ,
       -0.4682608 , -0.4682608 ]), 'split4_test_score': array([ 0.7565446 ,  0.7565446 ,  0.7565446 , -0.47332853, -0.47332853,
       -0.47332853,  0.7565446 ,  0.7565446 ,  0.7565446 , -0.47332853,
       -0.47332853, -0.47332853]), 'mean_test_score': array([ 0.74664157,  0.74664157,  0.74664157, -0.47723895, -0.47723895,
       -0.47723895,  0.74664157,  0.74664157,  0.74664157, -0.47723895,
       -0.47723895, -0.47723895]), 'std_test_score': array([0.02371347, 0.02371347, 0.02371347, 0.13450565, 0.13450565,
       0.13450565, 0.02371347, 0.02371347, 0.02371347, 0.13450565,
       0.13450565, 0.13450565]), 'rank_test_score': array([1, 1, 1, 7, 7, 7, 1, 1, 1, 7, 7, 7])}

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_copy_X,param_fit_intercept,param_n_jobs,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.021876,0.007655,0.000000,0.000000,True,True,None,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,1
1,0.000000,0.000000,0.003122,0.006245,True,True,5,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,1
2,0.012501,0.006251,0.000000,0.000000,True,True,10,"{'copy_X': True, 'fit_intercept': True, 'n_job...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,1
3,0.015625,0.009883,0.015627,0.024208,True,False,None,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
4,0.003125,0.006251,0.012501,0.006251,True,False,5,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
5,0.009374,0.007654,0.006250,0.007655,True,False,10,"{'copy_X': True, 'fit_intercept': False, 'n_jo...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
6,0.011988,0.007098,0.005576,0.007202,False,True,None,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,1
7,0.003624,0.006077,0.000000,0.000000,False,True,5,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,1
8,0.006250,0.007655,0.006251,0.007656,False,True,10,"{'copy_X': False, 'fit_intercept': True, 'n_jo...",0.760979,0.708733,0.775584,0.731367,0.756545,0.746642,0.023713,1
9,0.012502,0.006251,0.000000,0.000000,False,False,None,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
10,0.009377,0.007656,0.000000,0.000000,False,False,5,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7
11,0.009376,0.007655,0.006251,0.007655,False,False,10,"{'copy_X': False, 'fit_intercept': False, 'n_j...",-0.329893,-0.724411,-0.390302,-0.468261,-0.473329,-0.477239,0.134506,7

In [15]:
grid.best_params_

{'copy_X': True, 'fit_intercept': True, 'n_jobs': None}

In [13]:
#result of the predict X_test
Y_predict=grid.predict(train_independent)
Y_predict

array([[25661.85689486],
       [ 3818.77858262],
       [ 7096.73025538],
       ...,
       [ 4465.88909619],
       [ 1676.96948913],
       [36863.89250792]])

In [14]:
#Validation of the model Y_predict Vs Y_test
from sklearn.metrics import r2_score
r2=r2_score(dependent,Y_predict)
r2

0.7497225098709179

In [ ]:
preinput=sc.transform([[40,28.5,2,1,0]])
result=grid.predict(preinput)
result